html {
}

body {
	display: block;
	height: 100%;
	position: absolute;
}

main {
	position: absolute;
  display: block;
	z-index: -40 ;
}

footer {
	position: relative;
	display:block ;
	top: 380px;
	z-index: -100;
}

.wrapper {
	width: 100%;
	max-width: 800px;
	padding: 0 20px;
}

.mainContainer{
	display: flex;
	border-radius: 20px;
	margin: 5px;
}

.leftSide{
	border: 5px solid $pottoColor;
	border-left: 10px solid $pottoColor;
	width: 100%;
	max-width: 250px;
	padding: 6px;
}

.mainPageContent{
	flex-grow: 1;
	border: 5px solid $pottoColor;
	border-right: 10px solid $pottoColor;
}


.centered{
	margin: 0 auto;
	text-align: justify;
	width: 400px;
}

.noticed{
	box-shadow: 10px 10px 5px shade($pottoColor, 20%) ;
	background-color: lighten($pottoColor, 20%);
	text-align: center ;
}
