
body{
	background-image:  url('longLogo.png') ;
	background-repeat: repeat;
}
#headFrame{
	// background-color: $pottoColorMain ;
	// background-position-x: 20px;
	//background-position-x: center;
	// background-repeat-x: no-repeat;
	// background-repeat: no-repeat;
	// background-repeat-y: no-repeat;
	//border-radius: 0 0 $container-border-radius  $container-border-radius ;
	//border-top: $container-footer-top-border ;
  // height: $headerHeight ;
	// @include respondTo(handheld) {
	// 	background-image: url(longLogo.png); 
	// 	// background-size: cover;
	// 	// background-size:  background-size: 80% 80%;
	// 	// background: $pottoColorMenuMain  url("longLogoSs.png") 50% 50% repeat-x;
	// }
	// @include respondTo(mediumScreen) { 
	// 	background-image: url('longLogoM.png');
	// 	background-repeat-x: repeat;
	// }
	// @include respondTo(wideScreen) {
	// 	background-image: url('longLogo.png');
	// 	background-repeat-x: repeat;
	// }
	logo{
		position: absolute;
		margin-left: $menuWidthM +  $menuMarginLeftM +  $menuExtraSpace;
		margin-top: -40px ; // relative the new location 20px;
		width: 180px;
		color: $pottoColorText;
		background-color:$pottoColorMenu;
		padding: 10px;
		border-radius: 20px/40px; 
		//border: 3px solid $pottoColorMain;
		//margin: 06px 0px 15px 60px  ;
		border-top: 5px solid tint($pottoColorMenu, 20%) ;
		border-bottom: 5px solid shade($pottoColorMenu, 20%) ;
		border-right: 7px solid shade($pottoColorMenu, 20%) ;
		//background-color: $pottoColorMenuMain;
		
		&:hover{
			background-color: tint($pottoColorMenu, 20%)  ;
		}
		a:link{
			text-decoration:none;
		}
		a:hover {
			background-color: tint($pottoColorMenu, 20%)  ;
		}
		#menuWraper{
	//		background-color: green ;// $pottoColorMain  ;
			opacity:.4;
		}
	}
	//    top: -$headerHeight / 2 ;
	//    left:1060px;
	//    width: 160px;
}
$wrapperTableHeight: 40px;
$tableWidthSevenColumnS: 40px ;
$tableWidthSevenColumnM: 40px ;
$tableWidthSevenColumnL: 40px ;
$tableWidthSixColumnS: 40px;
$tableWidthSixColumnM: 40px;
$tableWidthSixColumnL: 40px;
$tableWidthFourColumnS: 40px;
$tableWidthFourColumnM: 40px;
$tableWidthFourColumnL: 40px;

.divWrapper {
	height: $wrapperTableHeight ;
	position: relative ;
 	margin:3px; 
	padding: 15px; 
	background-color: rgb(204, 116, 84);
	// display:inline-block !important; // to fix the problem caused by "1"
	display: inline-flex ;
	box-shadow:  60px 8px 120px 30px rgba($sortedTableBorderColor, 0.4);
	border-radius: 15px;
	border: 6px outset rgba(165,42,42, 0.5) ;
	@include respondTo(handheld) {
		width: $tableWidthSevenColumnS + 40px ;
	}
	@include respondTo(mediumScreen) {
		// $mediumTableWidth: $tableWidthM + 90px ;
		width: $tableWidthSevenColumnM + 40px ;
		// @debug "The value `#{$mediumTableWidth}` is $mediumTableWidth.";
	}
	@include respondTo(wideScreen) {
		width: $tableWidthSevenColumnL + 40px ;
	}
	&.sixColumn{
		@include respondTo(handheld) {
			width: $tableWidthSixColumnS + 40px;
		}
		@include respondTo(mediumScreen) {
			width: $tableWidthSixColumnM + 40px ; 
		}
		@include respondTo(wideScreen) {
			width: $tableWidthSixColumnL + 40px;
		}
	}
	//border-left: 20px outset red;
	//the shadow in the bottom the table size and location
	&:after{
		content:'';
		background: rgba(100,100,100,0.4);
		z-index: -2;
		border-radius: 50%;
		box-shadow: 0px 24px 30px -2px #555;
		position:absolute;
		opecity: 0.9;
		top: $dataTableHeight + 2*$dataTabletAfterHeighWidth/3;
		left: 0.1*$tableWidthM;
		@include respondTo(handheld) {
			width: 0.7*$tableWidthSevenColumnS ;
			height:50px;
			top: $dataTableHeight + 0*$dataTabletAfterHeighWidth/2 + 5;
			left: 116px;
		}
		@include respondTo(mediumScreen) {
			// width: 0.7*$tableWidthM ;
			width: 0.7*$tableWidthSevenColumnM;
			height:60px;
			top: $dataTableHeight - $dataTabletAfterHeighWidth/5 + 5;
		}
		@include respondTo(wideScreen) {
			width: 0.70*$tableWidthSevenColumnL ;
			height:70px;
			top: $dataTableHeight - $dataTabletAfterHeighWidth/20;
		}
	}
}

.fixedLengthContainr {
	height: 310px;
}
.mainFixedLength{
	height: 310px;
}

.mainContainer{
	position: relative;
	left: 10%;
	width: 90%;
	height: 100%;
	& .subMain{
		padding: 5px;
		background-color:  lighten( $pottoColor, 60%);
		border-radius: 14px;
		box-shadow: 8px 8px 10px shade( $pottoColor, 70%);
		border: 3px solid  darken( $pottoColor, 84%);
		box-sizing: border-box;
		// table {
		// 	background-color: lighten( $pottoColor, 60%);
		// 	width: 95%;
		// 	// line-height: 24px;
		// 	tr {
		// 		padding: 4px;
		// 	}
		// 	td:nth-child(1){
		// 		width: 15%; 
		// 		padding: 3px;
		// 	}
		// 	td:nth-child(2){
		// 		width: 10%; 
		// 		text-align: right ;
		// 	}
		// 	td:nth-child(3){
		// 		width: 10%; 
		// 		text-align: right ;
		// 	}
		// 	thead{
		// 		tr  {
		// 				&:first-child{
		// 					background-color: lighten( $pottoColor, 15%);
		// 				}
		// 		}
		// 	}
		// 	tbody{
		// 		tr {
		// 			&:nth-child(even){
		// 					background-color: lighten( $pottoColor, 30%);
		// 					height: 24px;
		// 			}
		// 		}
		// 	}
		// }
	}
}

.noticeWrapper{
	position: relative;
	display: block;
	left: 10%;
	width: 80%;
	padding-top: 10px;
	background-color:  lighten( $pottoColorMain, 40%);
  border-radius: 14px;
  box-shadow: 8px 8px 10px shade( $pottoColorMain, 30%);
  border: 3px solid  darken( $pottoColorMain, 04%);
	opacity: 0.85;
	@include respondTo(handheld) {
		width: 0.8*$tableWidthS ;
		// height:50px;
		top: 49px;
		left: 66px;
    // line-height: 100%;
	}
	@include respondTo(mediumScreen) {
		width: 0.8*$tableWidthM ;
    line-height: 110%;
		// height:60px;
	}
	@include respondTo(wideScreen) {
		width: 0.75*$tableWidthL ;
		// height:70px;
    line-height: 120%;
	}
}

.tabWrapper {
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 60px;
	@include respondTo(wideScreen) {
		padding-left: 06px;
	}

	// z-index:60;
	//margin: 20px;
	position: relative;
	border:4px ;
	// border-color: black;
	// background-color: adjust-lightness($pottoColorMain, 30%);
}

.fiveColumnWrapper{
	// height: inherit;
	&:after{
		@include respondTo(handheld) {
			width: 0.6*$tableWidthS ;
			height:50px;
			// top: 491px;
			left: 0.2*$tableWidthS;
		}
		@include respondTo(mediumScreen) {
			width: 0.8*$tableWidthM ;
			height:60px;
		}
		@include respondTo(wideScreen) {
			width: 0.51*$tableWidthL ;
			height:60px;
		}

	}
}
.fourColumnWrapper{
	// height: inherit;
	padding: 0;
	@include respondTo(handheld) {
		// width: $fourColumnWrapperSizeS ;
		width: $tableWidthFourColumnS + 40 ;
		height: $dataTableHeight + 30px ;
	}
	@include respondTo(mediumScreen) {
		// width: $fourColumnWrapperSizeM ;
		width: $tableWidthFourColumnM + 40px;
		height: $dataTableHeight + 30px ;
	}
	@include respondTo(wideScreen) {
		width: $tableWidthFourColumnL + 40 ;
		height: $dataTableHeight + 30px ;
		left: 40px;
	}
	&:after{
		@include respondTo(handheld) {
			width: 0.6*$fourColumnWrapperSizeS ;
			height:50px;
			left: r565px;
			top: 460px;
		}
		@include respondTo(mediumScreen) {
			width: 0.6*$fourColumnWrapperSizeM ;
			height:60px;
			left:  66px;
			top: 460px;
		}
		@include respondTo(wideScreen) {
			width: 0.6*$fourColumnWrapperSizeL ;
			height:60px;
			left:  66px;
			top: $dataTableHeight - 09px;
		}
	}
}

.tabContent{
	position: relative;
	top: -19px;
}

.smallLogo{
	$jayCell: 130px ;
	display: inline;
	// width: 132px;
	width: $menuCellWidthM/2;
	height: 20px ;
	font-size: 8px;
	index-z: -20;
	line-height: 90%;
	 > a{
		width: max($menuCellWidthM, $jayCell);
	}
	div{
		display: inline-block;
		width: min($menuCellWidthM/5, 32px);
		// @include smallerOfTwo ("margin-left", $menuMarginLeftM, 10px);
		margin-left: min($menuMarginLeftM, 10px);
	}
	img {
		max-height:100%;
		max-width:100%;
		margin-left: -01px;
		margin-top: -01px;
	}
	> .jayLink{
		display:none;
	}
		&:hover{
		> .jayLink{
			position: absolute;
			display: inline;
			background-color: yellow;
			width: $jayCell;
			border: 4px solid brown;
			left: -10px ;
			top: 16px;
			z-index: +20 ;
			o
			a {
				width: $jayCell ;
			}
		}
	}
}

.generalNotice{
	width: 64%;
	margin: 20px auto;
	margin-top: -10px;
	background-color: darken($pottoColorMain, 06%);
	text-align: justify;
	padding: 16px;
	padding-left: 10px;
	padding-top: 0.4px ;
	box-shadow: 0px 20px 20px 0px shade($pottoColorMain, 20%);
	border-radius: 10px;
}

.footNotice{
	left: -270px;
	position: relative;
	top: 264px;
	padding: 0px;
	border: 2px solid green;
	height: 45px;
// 	background-color: $pottoColorMain;
// 	opacity: 0.89;
}
.footNoticeText{
	height: 44px;
	vertical-align: middle;
	padding-top: 4px;
}
