.empheq{
	background-color: $pottoColorMain;
	border: 2px solid $pottoColorMenuSecond;
	border-radius: 10px 15px 3px 7px;
	h3.eqHead{
		font-size: smaller;
	 	margin-left: 30%;
		font-weight: normal;
		text-transform: lowercase;
		border: 0px;
		border-radius: 1px;
		background: $pottoColorMenuShadow;
	}
}
