.solutionT{
	border: 10px solid brown;
}

.TEx{
	border: 20px solid green;
	padding: 30px;
	box-shadow: 50px 10px #888888 ;
	h4{
		padding:2px;
		box-shadow: 0px 1px 1px ;
		text-align: left;
		min-width: auto;
		width: auto;
		padding-left: 4px;
		padding-bottom: 7px;
	}
}

