//  Figures in the books compressible flow and others
img {                                                                            
	height: auto; /* height detrmined by the wide not to strage the image */
	margin: auto; /* centering the image within the box */
	width: 80%; /* Part of the box later as calculated */
	margin-left: 10%; /* centering horizontal ING if the margin not working */
	padding: 1px; /* make space around it */
	background-repeat: no-repeat;
	background-size: contain;
	/* border: 4px solid red; */
}


.caption{
	display:block;
	text-align:center;
	padding:1px;
}

/* put spaces between two elements */
div.space{
	padding: 7px;
}


.bigFigure{
	width: 90%;
	height: auto;
	margin: auto;
	padding: 1px; /* border: 3px solid silver; */ /* padding: 3px; */
	.mainCaption{ /*make caption */
		text-align: center;
		padding-bottom: 20px;
		font-size: larger;
	}
	ul.subFigures{
		display: inline-flex;
		list-style: none ;
		figure {
			width: 90%;
			height: auto;
			margin: auto;
			padding: 1px;
			/* border: 3px solid brown; */
		}
	}
}
