#{headings(all)}{
	border-color: $pottoColorBorder;
	color: $pottoColorText ;
	font-family: $bodyFontFamily;
	// display: inline-block;
	display: block;
	text-transform: capitalize;
	letter-spacing: 2px;
	background-color: $pottoColorBorder;
	box-shadow: 10px 10px 5px shade($pottoColorBorder, 20%);
	text-align: center;
	width: 75%;
	// margin-right: 80%;
	white-space:nowrap;
	margin-left: 20px; 
	margin-right: auto;
	width: 50% ;
	max-width: -moz-fit-content;
	min-width: 80px;
	@include respondTo(handheld) {
		// margin-left: 20px;
		left :10%;
		padding:3px 4px 3px 5px;
	}
	@include respondTo(mediumScreen) {
		// margin-left: 30px;
		left :15%;
		padding:4px 5px 3px 6px;
	}
	@include respondTo(wideScreen) {
		// margin-left: 30px;
		left :08%;
		padding:4px 6px 4px 8px;
	}
	border:3px solid $pottoColorBorder;
	&:after {
	// content: "\A"; 
	// white-space: pre;
	// float: right;
	// padding-left: 6ex;
	// visibility: hidden;
	}
	& + p {
		text-indent: 0 ;
	}
}

#{headings(1,3)}{
	border-radius: 15px;
	font-weight: 600;
	margin-bottom: 0.5em;
	text-shadow: 1px 1px 8px $pottoColorMain;
	line-height: 120%;
	// text-align: center;
	@include respondTo(handheld) {
		font-size: 090%;
	}
	@include respondTo(mediumScreen) {
		font-size: 100%;
	}
	@include respondTo(wideScreen) {
		font-size: 140%;
	}
}

#{headings(1)}{
	text-transform: uppercase;
	padding: 0.5rem;
	border-top: 3px solid ;
	background-color: transparentize($pottoColor, 0.5);
	border-bottom: 3px solid ;
	display: block;
	background-size: 20%;
	white-space: normal ;
	@include respondTo(handheld) {
		margin-right: 10px auto;
		// margin-left: $headerTopLeftMargin + 8;
   }
	// background-origin: border-box ;
}

#{headings(2)}{
	text-align: center;
  width: 70%;
	max-width: -moz-fit-content;
	min-width: 80px;
}

#{headings(4)}{
	max-width: auto;
	width: auto;
	padding-left: 10px;
	margin-left: 45px;
}

#{headings(5,5)}{
	font-size: 12px;
	padding:3px 3px 3px 3px;
	box-shadow: none;
	background-color:  transparentize($pottoColor, 0.8);
}

.issue{
	box-shadow: 0px 1px 1px ;
	text-align: left;
	min-width: auto;
	width: auto;
}
