nav {
	background-color: red;
	list-style-type: none;
	// display: inline-block;
	@extend %noSpacing ;
	position: relative;
	z-index: 10000;
	ul {
		position: relative;
		list-style: none;
		text-align: left;
		border-bottom: 10px solid green;
		background: #ffffff;
		display: inline-block ;
		li {
			// display: block ;
			float: left;
			u {
				position: absolute;
				left: 20px;
				top: 40px;
			}
		}
		li:first-of-type{
			margin-left: 10px;
		}
		li:hover {
			background:green;
		}	
		a {
			position: relative;
			display: inline-block;
			overflow: hidden;
			color: black; /* font color */
			text-decoration: none;
			padding: 8px 20px;
			font-size: 14px; /* font size */
			font-weight: bold;
			vertical-align: bottom;
			transition: color 0.5s;
		}
	}
}
