/** 
*	For movement of the menu for large screens 
*/
// under construction to see what to do with the wrap maybe to eliminate it.
#menuWrap {
	position: relative;
	z-index: 10000;
	&.fixHearder{
		position: fixed;
		top:0;
		left:0;
		transition: top 0.2s ease-in
	}
	&.noFix{
		//	position: absolute;
		position: relative;
		@include respondTo(handheld) {
			top:  5px;
			width:20px; // to allow the other menu to be used.
		}
		@include respondTo(notHandheld) {
			// top:  $headerHeight - $headrMenu - 5;
			top:0;
		}
		transition: top 0.2s ease-in
	}
}

/**
*handheld devices  
* the idea did not work and was abonded 
*/
// 	@include respondTo(handheld) {
// 	//@media screen and (max-width :$breakM) {
// 		display: none;
// 		width: 90%;
// 	}
// }

/** 
*main nav 
*/
#menuWraperH{
	@include respondTo(handheld) {
		display: none ;
	}
	@include respondTo(mediumScreen) {
		display: block ;
		width: 90% ;
		background: $pottoColorMenuMain  url("longLogoL.png") 150% 150% repeat-x;
		background-repeat: repeat-x; 
		// background-repeat-x: repeat;
		// background-repeat-y: no-repeat;
	}
}

#menuWraperV{
	@include respondTo(handheld) {
		display: block ;
		// background-repeat: repeat-x; 
		background-repeat: no-repeat; 
	}
	@include respondTo(notHandheld) {
		display: none ;
	}
}

.ui-menu { 
	width: $headerTopLeftMargin ;
}

.menuList { // ul list including 
	top: $headerHeight - $headrMenu ;  
	word-wrap: break-word;
	display: block;
	padding-left: 6px;
	text-align: center;
	border-top: 5px solid tint($pottoColorMenu, 20%) ;
	border-bottom: 5px solid shade($pottoColorMenu, 20%) ;
	border-right:  solid shade($pottoColorMenu, 20%) ;
	background-color: $pottoColorMenuMain;
	//background-image: linear-gradient($pottoColorMenu, $pottoColorMenuSecond);
	border-radius: 6px;
	color: $pottoColorText ;
	box-shadow: 0px 8px 07px 0px $pottoColorMenuShadow; // top, right, bottom, left
	text-decoration: none;
	zoom:1;
	@include respondTo(handheld) {
		//content: "test handheld";
		top: 10px;
		display: none;
		width: $menuWidthS;
		font-size: $pottoFontSizeL ;
		margin: 06px 0px 15px $menuLeftMarginL  ;
	}
	@include respondTo(mediumScreen) { 
		width: $menuWidthM;
		font-size: $pottoFontSizeL ;
		margin: 06px 0px 15px $menuLeftMarginL  ;
	}
	@include respondTo(wideScreen) {
		width: $menuWidthL;
		font-size: $pottoFontSizeL ;
		margin: 06px 0px 15px $menuLeftMarginL  ;
	}
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	li {
		list-style: none;
		float: left;
		border-right: 1px solid $pottoColorBorder ;
		box-shadow: 1px 0 0 $pottoColorMenuShadow ;
		position: relative;
		opacity: 0.99;
    height: 18px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 700;
		background-color: $pottoColor;
		@include respondTo(handheld) {
			width: $menuCellWidthS;
		}
		@include respondTo(mediumScreen) {
			width: $menuCellWidthM;
		}
		@include respondTo(wideScreen) {
			width: $menuCellWidthL;
		}
		&:last-child {
			box-shadow: none ;
			border-right: none ;
		}
		&:hover {
			background-color: $pottoColorMenu ;
			> ul {
				opacity: 1.0;
				visibility: visible;
				display: inline-block;  
				//margin: 0;
				@include respondTo(handheld) {
					position: relative ;
					left: $menuCellWidthS - $menuCellWidthExtraS;
					top: -15px;
					//float: left;
					background-color: green;
				}
			}
			> a {
				color: complement($pottoColorMenu);
				background-color: $pottoColorMenu ;
			}
		} // End li hover
		ul {
			padding-left: 3px;
			padding-right: 3px;
			@include respondTo(handheld) {
				visibility: hidden;  // test display
				display: none ;
			}
		} // End li ul
	} // End li
	> li {
		@include respondTo(handheld) {
		}
		@include respondTo(mediumScreen) {
			$halfCell: $menuCellWidthM/2;
			&:first-child {
				> a {
					width: $halfCell;
					// @extend %halfCell ; 
				}
				> div {
					> a {
						// @extend %halfCell ; 
						width: max($halfCell, 32px);
					}
				}
			}
			&:nth-child(2) {
				a {
					// width: $halfCell;
					width: $menuCellWidthM;
				// @extend %halfCell ; 
				}
			}
		} // End mediumScreen
		@include respondTo(wideScreen) {
			$halfCell: min($menuCellWidthL/2, 34px);
			&:first-child {
				> a {
					width: $halfCell;
					// @extend %halfCell ; 
				}
				> div {
					// display: inline-block;
					> a {
						// @extend %halfCell ; 
						width: max($halfCell, 32px);
					}
				}
			}
			&:nth-child(2) {
				a {
					width: max($halfCell,80.1111px);
					width:140px;
					width: $menuCellWidthL;
				// @extend %halfCell ; 
					a {
						width: $menuCellWidthL;
					}
				}
			}
		}
	} // End > li
	ul {
		margin: 2px 0 0 0;
		opacity: 1.0;
		visibility: hidden; // making the submenu invisible
		position: absolute;
		top: 19px;
		left: 0;
		z-index: 1;    
		background: $pottoColorMenu;   
		box-shadow: 0 -1px 0 transparentize($pottoColorMenu, 0.8);  
		border-radius: 3px;
		transition: all .2s ease-in-out;
		ul {
			top: 0;
			left: $menuCellWidthL;
			margin: 0 0 0 $menuCellWidthExtraL; // the left hand side 
			@include respondTo(mediumScreen) {
				left: $menuCellWidthM;
				margin: 0 0 0 $menuCellWidthExtraM; // the left hand side 
			}
			@include respondTo(wideScreen) {
				left: $menuCellWidthL;
				margin: 0 0 0 $menuCellWidthExtraM; // the left hand side 
			}

			box-shadow: -1px 0 0 $pottoColorMenuShadow;      
			li {
				&:first-child{
					a {
						&:hover {
							&::after{
								border-right-color: $pottoTriangleColor  ; 
								border-bottom-color: transparent;   
							}
						}
						&:after {
							left: -$triangleSize;
							top: 50%;
							margin-top: -$triangleSize;
							border-left: 0; 
							border-bottom: $triangleSize solid transparent;
							border-top: $triangleSize solid transparent;
							border-right: $triangleSize solid shade($pottoColorMenu, 20%);
						}
					} // end ul ul a 
				} // end ul ul li:first-child
			} //end ul ul li 
		}
		li {
			float: none;
			display: block;
			border: 0; 
			box-shadow: 0 1px 0 #111, 0 2px 0 #666;
			padding: 5px 7px 3px 1px ;
			> &:after { 
				//triangle  
				left: 20px; //location
				content: '';
				position: absolute;
				top: -$triangleSize;
				border-left: $triangleSize solid transparent;
				border-right: $triangleSize solid transparent;
				border-bottom: $triangleSize solid tint($pottoColorMenu, 20%) ;
			}
			&:first-child {
				border-radius: 2px 2px 1px 2px;
				a {
					&:hover:after{
						border-bottom-color: $pottoTriangleColor ; 
					}
				}
				> a:after {
					//triangle  
					left: 20px; //location
					content: '';
					position: absolute;
					top: -$triangleSize;
					border-left: $triangleSize solid transparent;
					border-right: $triangleSize solid transparent;
					border-bottom: $triangleSize solid tint($pottoColorMenu, 20%) ;
				}
			} //  ul li:first-child 
			&:last-child {
				box-shadow: none;    
				> a{
					border-radius: 0 0 3px 3px;
				}
			}
		} // end ul li
		@include respondTo(handheld) {
			text-align: left; //test textAlign
		}
	} // end ul
	a {
		width: $menuCellWidthL;
		@include respondTo(mediumScreen) {
			width: $menuCellWidthM;
			padding: 5px 7px 3px 1px ;
		}
		@include respondTo(wideScreen) {
			width: $menuCellWidthL;
			padding: 5px 7px 3px 1px ;
		}
		float: left;
		padding: 6px 8px 4px 2px ;
		color: complement($pottoColorMenu);
		text-transform: uppercase;
		font: bold 0.9rem ; // inherit
		text-decoration: none;
		text-shadow: 0px 1px 0px 0px shade(complement($pottoColorMenu),12%);
		display: inline-block ;
		white-space: nowrap;
		float: none;
		&:hover {
			background-color: tint($pottoColorMenu, 20%) ;
			background-image: linear-gradient(tint($pottoColorMenu, 20%), shade($pottoColorMenu, 20%));
		}
	} // end a
	@media screen and (max-width :$breakL) {
		width: $menuWidthM;
		@include smallerOfTwo ("margin-left", $menuMarginLeftM, 10px);
		font-size: $pottoFontSizeM ;
	}
	@media screen and (max-width :$breakM) {
		display: none;
		//display: block; removing the menu when the small screen
		margin: 0;
		padding: 10px;
		position: absolute;
		top: $headerDecuationHeight;
		width: 40%; // control the width the small menu 
		//z-index: 1;
		box-shadow: none;      
		// to check the value of the calculation in variables file  
		//box-shadow: $content ; 
		&:after {
			content: '';
			position: absolute;
			left: 5px;
			top: -8px;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid #444;
		}   
		ul { //second degree ul 
			position: static;
			visibility: visible;
			opacity: 1;
			margin: 0;
			background: none;
			box-shadow: none;               
			ul {
				margin: 0 0 0 20px !important;
				box-shadow: none;       
			}
			li{
				margin-left: 20px;
				box-shadow: none;       
			}
			a{
				padding: 0;
				width: auto;        
				&:hover{
					background: none; 
				}
			}
		} // End media ul 
		li {
			position: static;
			display: block;
			float: none;
			border: 0;
			margin: 5px;
			box-shadow: none;           
		} // End li
		a{
			display: block;
			float: none;
			padding: 0;
			color: #999;
			&::hover{
				color: #fafafa;
			}
		} //End a
	} // End Hmenu breakM 
	.jayLink {
		a { // for jay link since no logic that 
			width: 80px;
		}
	}
} // Hmenu 

@media screen and (max-width: $breakM) {
	#menuWrap {
		position: relative;
	}
	
	#menuWrap * {
		box-sizing: border-box;
		text-align: left;
	}
	#menuTrigger {
		display: block; /* Show it now */
		height: $headerDecuationHeight;
		//width: 90%;
		line-height: 40px;
		cursor: pointer;        
		padding: 0 0 0 35px;
		border: 1px solid $pottoColorBorder;
		color: complement($pottoColorMenu);
		font-weight: bold;
		background-color: $pottoColorMenuMain;
		border-radius: 6px;
		box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
		ul {
			ul{
				display: none ;
			}
		}
	}
}


