%noSpacing {
   padding: 0px ;
   margin: 0px ;
}

%absolutePos{
	position: absolute;
}

%zeroWraping {
	@extend %noSpacing ;
	border: 0px ;
}


// variables for the tabbing
$tabsCirculSize: 15px;

//half of the cell when the value of halfCell has to be reassigned.
//not function in proper way may be mix with mixin
// @extend %halfCell
// %halfCell {
// 	width: $halfCell;
// }


%tabsCirclur{
	@extend %absolutePos ;
	bottom: 10px;
	height: $tabsCirculSize;
	width: $tabsCirculSize;
	background-color: green ;
	z-index: 1;
}

%tabsLocationBefore{
	left: -$tabbingRadius; 
	//left: 0; 
}
%tabsLocationAfter{
	right: -$tabbingRadius ;
}

%tabbingLinearGradiantColor{
	background: -webkit-linear-gradient($tabbingColorTop, $tabbingMainColor); 
	background: -o-linear-gradient($tabbingColorTop, $tabbingMainColor); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($tabbingColorTop, $tabbingMainColor); /* For Firefox 3.6 to 15 */
	background: linear-gradient($tabbingColorTop, $tabbingMainColor); /* Standard syntax */
}
%tabbingLinearHoverGradiantColor{
	background: -webkit-linear-gradient($tabbingHoverColor, $tabbingNotActiveColor); 
	background: -o-linear-gradient($tabbingHoverColor, $tabbingNotActiveColor); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($tabbingHoverColor, $tabbingNotActiveColor);/* For Firefox 3.6 to 15 */
	background: linear-gradient($tabbingHoverColor, $tabbingNotActiveColor); /* Standard syntax */
}

%tabbingLinearSelectedHoverGradiantColor{
	background: -webkit-linear-gradient($tabbingColorTop, $tabbingMainColor); 
	background: -o-linear-gradient($tabbingColorTop, $tabbingMainColor); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($tabbingColorTop, $tabbingMainColor); /* For Firefox 3.6 to 15 */
	background: linear-gradient($tabbingSelectedHoverColor, $tabbingMainColor); /* Standard syntax */
}

%emptyContent{
	content: "";
}


%tabbingBottonPos {
	@extend %absolutePos;
	bottom: 0;
}

%tabbingSize {
	width: $tabbingRadius;
	height: $tabbingRadius;
}
%tabbingSetTextColor{
	color: $tabbingTextColor ;
}

%tabbingRemovingSize {
	width: $tabbingDiameter;
	height: $tabbingDiameter;
}

%tabbingSetBackgroundColor {
	background: $tabbingBackroundColor ;
}

%tabbingSetMainColor {
	background: $tabbingMainColor ;
}

%tabbingSetNotActiveColor{
	background: $tabbingNotActiveColor;
}


//	@extend %emptyContent;
// @extend %positionA;

// fixed Table header

%fTHBodyApperance {
	background-color: #eef2f9;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%
	);
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0))
	);
	color: #262c31;
	font-size: 11px;
}

%fTHHeadApperance {
	   /* appearance */
   background-color: #8ca9cf;
   background-image: -moz-linear-gradient(
      top,
      rgba(255,255,255,0.4) 0%,
      rgba(255,255,255,0.2) 50%,
      rgba(255,255,255,0.1) 51%,
      rgba(255,255,255,0.0) 100%);

   background-image: -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%,rgba(255,255,255,0.4)),
      color-stop(50%,rgba(255,255,255,0.2)),
      color-stop(51%,rgba(255,255,255,0.1)),
      color-stop(100%,rgba(255,255,255,0.0)));

   /* text */
   color: #121517;
   font-size: 12px;
   font-weight: bold;
   text-shadow: 0 1px 1px #e8ebee;
}

%fTHTHTDApperance { //make new name
   border: 1px solid #778899;
   /* size */
   padding: 5px;
}

%fTHDTHTDApperance { //make new name
	border: 1px solid #000000;
	padding: 5px;
}

%fTHDbodypperance {
   /* appearance */
   background-color: #48535e;
   background-image: -moz-linear-gradient(
      top,
      rgba(255,255,255,0.0) 0%,
      rgba(255,255,255,0.02) 100%);
   
   background-image: -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%,rgba(255,255,255,0.0)),
      color-stop(100%,rgba(255,255,255,0.02)));
   border-bottom-color: #22272e;
   border-top-color: #708090;
   border-right-color: #000;
   border-left-color: #3c454f;

   /* size */
   padding: 10px 5px 30px 5px;

   /* text */
   color: #FFFFFF;
   font-size: 11px;
   font-weight: bold;
   text-shadow: 0 -1px 1px #000000;
}

%fTHDtheadApperance {
   background-color: #0b0d10;
   background-image: -moz-linear-gradient(
      top,
      rgba(255,255,255,0.4) 0%,
      rgba(255,255,255,0.2) 50%,
      rgba(255,255,255,0.1) 51%,
      rgba(255,255,255,0.0) 100%);

   background-image: -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%,rgba(255,255,255,0.4)),
      color-stop(50%,rgba(255,255,255,0.2)),
      color-stop(51%,rgba(255,255,255,0.1)),
      color-stop(100%,rgba(255,255,255,0.0)));

   /* text */
   color: #ffffff;
   font-size: 12px;
   font-weight: bold;
   text-shadow: 0 -1px 1px #000;
}

// %firstGdTabWidth{
// 	// width: $tableWidthSs/5 ;
// 	width: 70px ;
// }
// @extend %absolutePos ;
