/**
*Global variables
*/
	//$body-bg-color: #edeff0 ; 
	$supported-browsers: browsers() ; // support all browsers
	$bodyFontFamily: Verdana, Arial,Geneva,Lucida, "lucida grande", Helvetica, sans-serif;
	$pottoColorMain: #FFFFD6; // yellow  blue
	$pottoColorSecondary: #FFFFFA; 
	$pottoColorLow: #FFFEDF		!important; // !default
	$pottoColorHigh: #FFA500	!important;
	$pottoColor: #f38c0b ; // orange
	$pottoColorBorder: #CC7A00 ; //!important; 
	$pottoColorMenu: #CC7A00 ; 
	$pottoColorMenuMain: #E68A00 !important; 
	$pottoColorMenuSecond: #CC7A00 !important; 
	$pottoColorMenuShadow: lighten( $pottoColorMenu, 70% ) ;  //  !important; 
	$pottoColorText: #00005C ; //  !important; 
	$pottoHightlightBackroundColor: darken($pottoColorMain, 20%)  ; //  !important; 
	$bodyTextColor: $pottoColorText  !important; 
	$bodyFontSize: 100% !default;
	$bodyFontHeight: 100% ! important ; 


	$linkColor: #000;
	$linkWeight: 600;

/**
*Header variables
*/
	$headerHeight: 120px;
	$headrMenu: 42px;
	$headerBorderRadius: 5px;
	$headerShadow: 0 2px 0 rgba(0, 0, 0, 0.1);
	$headerFooterTopBorder: 10px solid "green"; 
//#e8ebed ;
// background-color: linear-gradient(to right, white , #FFFEDF);

/**
* General color
*/
	$primaryColor : #e0e0e0 ;
	$successColor : #5ebc41 ;
	$errorColor   : #bb2828 ;
	$warningColor :  #9F6000;
  $warningBackgroundColor: #FEEFB3;

/**
* Button 
*/
	$button-border-radius: 4px ;
	$button-bg-color: $primaryColor ;


/**
* nav
*/
	$pottoFontSizeL: 14px ;
	$pottoFontSizeM: 12px ;
	$pottoFontSizeS: 10px ;
	$triangleSize : 8px ;
	$pottoTriangleColor : #04bfec ;
	$bodyFontSize  : 2.2 rem ;;
	$nav-bg-color   : #444 ;
	$nav-text-color   : #fff ;
	$nav-link-color   : #666 ;

/**
* Compass variables
*/
	$containerWidth :   978px;
	$columnWidth :      5.5; //In percent
	$column :        12; //Twelve columns

/**
* media breaks
*/
	$breakSss: 360px;
	$breakSs: 480px;
	$breakS: 640px;
	$breakM: 768px;
	$breakL: 1024px;
	$breakLl: 1200px;
	$breakLll: 1824px;
	//$a: ();
	//$content: type-of($a) ;

/**
* menu sizes calculations 
*/
	$menuCellWidthL:175px;
	$menuFirstCellWidthL: 130px;
	$menuCellWidthExtraL: 15px;  // can be negative or positive
	$menuWidthL: 4*$menuCellWidthL + $menuFirstCellWidthL ; 
	// @debug "The value of $menuCellWidthL is  `#{$menuCellWidthL}` ";
	// @debug "The value of $menuWidthL is  `#{$menuWidthL}` ";
	$menuLeftMarginL: 0.010* $menuWidthL;
	$menuCellWidthExtraM: 12px;
	$menuCellWidthM: 0.172 * $breakM ;
	$menuWidthM : 5*$menuCellWidthM +76px ; 
	$menuCellWidthS: 0.175 * $breakS ;
	$menuCellWidthExtraS: 7px;
	$menuWidthS :	5*$menuCellWidthS +56px ; 
	$menuCellWidthSs:85px;
	$menuWidthSs : 5*$menuCellWidthSs +56px ; 
	$headerDecuationHeight: 40px;

	$menuMarginLeftM: 0.06*$menuWidthM ;
	$menuExtraSpace:0.03*$menuWidthM;
	// $halfCell: $menuCellWidthM/2;

/* 
* header environment
*/
	$headerTopLeftMargin: 150px ;

/* 
* tabbing environment
*/
$tabbingBackroundColor: $pottoColorMain ;

$tabbingMainColor: $pottoColor ;// #0481B1;
$tabbingColorTop: lighten($tabbingMainColor, 50%) ;  //#39B5E8;
$tabbingNotActiveColor: tint($tabbingMainColor, 40%); // saturate($tabbingMainColor, 40%) ; //#2f2f2f;
$tabbingTextColor: complement ($tabbingMainColor)  ;//#fff;
$tabbingShadowColor: shade($tabbingMainColor, 60%)  ;//#000;
$tabbingHoverColor: darken(saturate($tabbingMainColor, 95%), 40%); 
$tabbingSelectedHoverColor: adjust-lightness($tabbingColorTop, -20%);
//$tabbingTextColor: invert($tabbingMainColor);
//$tabbingTextColor: contrast-color($tabbingMainColor);
$tabbingRadius:  10px;
$tabbingDiameter:  2*$tabbingRadius;
$tabbingRoundingRarius: 1.5*$tabbingRadius;

/*
* table environment any  Table 
*/

$sortedTableColor: $pottoColor ;
$sortedTableBorderColor: brown;

$tableWidthL: $menuWidthL ; 
$tableWidthM: $menuWidthM ; 
$tableWidthS: $menuWidthSs ;
$dataTableHeight: 505px ;
$dataTableVerticalMargin: 70px ;
$dataTabletAfterHeighWidth: 70px ;
$mediumTableWidth: $tableWidthM + 90px ;
$smallTableWitdh : $tableWidthS + 110px;
/*
 *  Four columns table
*/
// The Wrapper size 
$fourColumnWrapperSizeS : 320px ;  
$fourColumnWrapperSizeM : 490px ;
$fourColumnWrapperSizeL : 550px ; 
$fourColumnWrapperSizeMargin : 30px;
$dataTableHeightFour: 460px ;

//the actual table width
$FirstColumnWidthS: 60px ;
$FirstColumnWidthM: 65px ;
$FirstColumnWidthL: 67px ;
$GeneralColumnWidthS: 80px ;
$GeneralColumnWidthM: 90px ;
$GeneralColumnWidthL: 100px ;
