/* Import compass reset module */
/*
 *  experimental  for bootstrap 
*/
/* 
	* Import our own materials
*/
/*
 * Select the smaller of two dimeasion 
 * Example @include smallerOfTwo ("margin-left", $menuMarginLeftM, 10px);
 */
/**
*Global variables
*/
/**
*Header variables
*/
/**
* General color
*/
/**
* Button 
*/
/**
* nav
*/
/**
* Compass variables
*/
/**
* media breaks
*/
/**
* menu sizes calculations 
*/
/* 
* header environment
*/
/* 
* tabbing environment
*/
/*
* table environment any  Table 
*/
/*
 *  Four columns table
*/
/* line 4, ../sass/assets/framwork/_layout.scss */
body {
  display: block;
  height: 100%;
  position: absolute;
}

/* line 10, ../sass/assets/framwork/_layout.scss */
main {
  position: absolute;
  display: block;
  z-index: -40;
}

<<<<<<< ours
/* to be changed */
=======
>>>>>>> theirs
/* line 16, ../sass/assets/framwork/_layout.scss */
footer {
  position: relative;
  display: block;
<<<<<<< ours
  top: 10px;
  z-index: 10;
	border: blue 3px solid;
=======
  top: 380px;
  z-index: -100;
>>>>>>> theirs
}

/* line 23, ../sass/assets/framwork/_layout.scss */
.wrapper {
  width: 100%;
  max-width: 800px;
  padding: 0 20px;
}

/* line 29, ../sass/assets/framwork/_layout.scss */
.mainContainer {
  display: flex;
  border-radius: 20px;
  margin: 5px;
}

/* line 35, ../sass/assets/framwork/_layout.scss */
.leftSide {
  border: 5px solid #f38c0b;
  border-left: 10px solid #f38c0b;
  width: 100%;
  max-width: 250px;
  padding: 6px;
}

/* line 43, ../sass/assets/framwork/_layout.scss */
.mainPageContent {
  flex-grow: 1;
  border: 5px solid #f38c0b;
  border-right: 10px solid #f38c0b;
}

/* line 50, ../sass/assets/framwork/_layout.scss */
.centered {
  margin: 0 auto;
  text-align: justify;
  width: 400px;
}

/* line 56, ../sass/assets/framwork/_layout.scss */
.noticed {
  box-shadow: 10px 10px 5px #c27009;
  background-color: #f8ba6c;
  text-align: center;
}

/* line 2, ../sass/assets/components/_container.scss */
body {
  background-image: url("longLogo.png");
  background-repeat: repeat;
}

/* line 30, ../sass/assets/components/_container.scss */
#headFrame logo {
  position: absolute;
  margin-left: 802.7632px;
  margin-top: -40px;
  width: 180px;
  color: #00005C;
  background-color: #CC7A00;
  padding: 10px;
  border-radius: 20px/40px;
  border-top: 5px solid #d69533;
  border-bottom: 5px solid #a36200;
  border-right: 7px solid #a36200;
}
/* line 46, ../sass/assets/components/_container.scss */
#headFrame logo:hover {
  background-color: #d69533;
}
/* line 49, ../sass/assets/components/_container.scss */
#headFrame logo a:link {
  text-decoration: none;
}
/* line 52, ../sass/assets/components/_container.scss */
#headFrame logo a:hover {
  background-color: #d69533;
}
/* line 55, ../sass/assets/components/_container.scss */
#headFrame logo #menuWraper {
  opacity: .4;
}

/* line 75, ../sass/assets/components/_container.scss */
.divWrapper {
  height: 40px;
  position: relative;
  margin: 3px;
  padding: 15px;
  background-color: #cc7454;
  display: inline-flex;
  box-shadow: 60px 8px 120px 30px rgba(165, 42, 42, 0.4);
  border-radius: 15px;
  border: 6px outset rgba(165, 42, 42, 0.5);
}
@media screen and (max-width: 768px) {
  /* line 75, ../sass/assets/components/_container.scss */
  .divWrapper {
    width: 80px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 75, ../sass/assets/components/_container.scss */
  .divWrapper {
    width: 80px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 75, ../sass/assets/components/_container.scss */
  .divWrapper {
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  /* line 97, ../sass/assets/components/_container.scss */
  .divWrapper.sixColumn {
    width: 80px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 97, ../sass/assets/components/_container.scss */
  .divWrapper.sixColumn {
    width: 80px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 97, ../sass/assets/components/_container.scss */
  .divWrapper.sixColumn {
    width: 80px;
  }
}
/* line 110, ../sass/assets/components/_container.scss */
.divWrapper:after {
  content: '';
  background: rgba(100, 100, 100, 0.4);
  z-index: -2;
  border-radius: 50%;
  box-shadow: 0px 24px 30px -2px #555;
  position: absolute;
  opecity: 0.9;
  top: 551.66667px;
  left: 73.648px;
}
@media screen and (max-width: 768px) {
  /* line 110, ../sass/assets/components/_container.scss */
  .divWrapper:after {
    width: 28px;
    height: 50px;
    top: 510px;
    left: 116px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 110, ../sass/assets/components/_container.scss */
  .divWrapper:after {
    width: 28px;
    height: 60px;
    top: 496px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 110, ../sass/assets/components/_container.scss */
  .divWrapper:after {
    width: 28px;
    height: 70px;
    top: 501.5px;
  }
}

/* line 140, ../sass/assets/components/_container.scss */
.fixedLengthContainr {
  height: 310px;
}

/* line 143, ../sass/assets/components/_container.scss */
.mainFixedLength {
  height: 310px;
}

/* line 147, ../sass/assets/components/_container.scss */
.mainContainer {
  position: relative;
  left: 10%;
  width: 90%;
  height: 100%;
}
/* line 152, ../sass/assets/components/_container.scss */
.mainContainer .subMain {
  padding: 5px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 8px 8px 10px #492a03;
  border: 3px solid black;
  box-sizing: border-box;
}

/* line 197, ../sass/assets/components/_container.scss */
.noticeWrapper {
  position: relative;
  display: block;
  left: 10%;
  width: 80%;
  padding-top: 10px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 8px 8px 10px #b3b396;
  border: 3px solid #ffffc2;
  opacity: 0.85;
}
@media screen and (max-width: 768px) {
  /* line 197, ../sass/assets/components/_container.scss */
  .noticeWrapper {
    width: 384.8px;
    top: 49px;
    left: 66px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 197, ../sass/assets/components/_container.scss */
  .noticeWrapper {
    width: 589.184px;
    line-height: 110%;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 197, ../sass/assets/components/_container.scss */
  .noticeWrapper {
    width: 622.5px;
    line-height: 120%;
  }
}

/* line 227, ../sass/assets/components/_container.scss */
.tabWrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 60px;
  position: relative;
  border: 4px;
}
@media only screen and (min-width: 1025px) {
  /* line 227, ../sass/assets/components/_container.scss */
  .tabWrapper {
    padding-left: 06px;
  }
}

@media screen and (max-width: 768px) {
  /* line 245, ../sass/assets/components/_container.scss */
  .fiveColumnWrapper:after {
    width: 288.6px;
    height: 50px;
    left: 96.2px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 245, ../sass/assets/components/_container.scss */
  .fiveColumnWrapper:after {
    width: 589.184px;
    height: 60px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 245, ../sass/assets/components/_container.scss */
  .fiveColumnWrapper:after {
    width: 423.3px;
    height: 60px;
  }
}

/* line 263, ../sass/assets/components/_container.scss */
.fourColumnWrapper {
  padding: 0;
}
@media screen and (max-width: 768px) {
  /* line 263, ../sass/assets/components/_container.scss */
  .fourColumnWrapper {
    width: 80px;
    height: 535px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 263, ../sass/assets/components/_container.scss */
  .fourColumnWrapper {
    width: 80px;
    height: 535px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 263, ../sass/assets/components/_container.scss */
  .fourColumnWrapper {
    width: 80px;
    height: 535px;
    left: 40px;
  }
}
@media screen and (max-width: 768px) {
  /* line 281, ../sass/assets/components/_container.scss */
  .fourColumnWrapper:after {
    width: 192px;
    height: 50px;
    left: r565px;
    top: 460px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 281, ../sass/assets/components/_container.scss */
  .fourColumnWrapper:after {
    width: 294px;
    height: 60px;
    left: 66px;
    top: 460px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 281, ../sass/assets/components/_container.scss */
  .fourColumnWrapper:after {
    width: 330px;
    height: 60px;
    left: 66px;
    top: 496px;
  }
}

/* line 303, ../sass/assets/components/_container.scss */
.tabContent {
  position: relative;
  top: -19px;
}

/* line 308, ../sass/assets/components/_container.scss */
.smallLogo {
  display: inline;
  width: 66.048px;
  height: 20px;
  font-size: 8px;
  index-z: -20;
  line-height: 90%;
}
/* line 317, ../sass/assets/components/_container.scss */
.smallLogo > a {
  width: 132.096px;
}
/* line 320, ../sass/assets/components/_container.scss */
.smallLogo div {
  display: inline-block;
  width: 26.4192px;
  margin-left: 10px;
}
/* line 326, ../sass/assets/components/_container.scss */
.smallLogo img {
  max-height: 100%;
  max-width: 100%;
  margin-left: -01px;
  margin-top: -01px;
}
/* line 332, ../sass/assets/components/_container.scss */
.smallLogo > .jayLink {
  display: none;
}
/* line 336, ../sass/assets/components/_container.scss */
.smallLogo:hover > .jayLink {
  position: absolute;
  display: inline;
  background-color: yellow;
  width: 130px;
  border: 4px solid brown;
  left: -10px;
  top: 16px;
  z-index: 20;
}
/* line 345, ../sass/assets/components/_container.scss */
.smallLogo:hover > .jayLink o
a {
  width: 130px;
}

/* line 353, ../sass/assets/components/_container.scss */
.generalNotice {
  width: 64%;
  margin: 20px auto;
  margin-top: -10px;
  background-color: #ffffb7;
  text-align: justify;
  padding: 16px;
  padding-left: 10px;
  padding-top: 0.4px;
  box-shadow: 0px 20px 20px 0px #ccccab;
  border-radius: 10px;
}

/* line 366, ../sass/assets/components/_container.scss */
.footNotice {
  left: -270px;
  position: relative;
  top: 264px;
  padding: 0px;
  border: 2px solid green;
  height: 45px;
}

/* line 376, ../sass/assets/components/_container.scss */
.footNoticeText {
  height: 44px;
  vertical-align: middle;
  padding-top: 4px;
}

/* line 3, ../sass/assets/layout/_paragraph.scss */
.generalNotice > p {
  font-size: 10px;
}

/** 
*	For movement of the menu for large screens 
*/
/* line 5, ../sass/assets/components/_nav.scss */
#menuWrap {
  position: relative;
  z-index: 10000;
}
/* line 8, ../sass/assets/components/_nav.scss */
#menuWrap.fixHearder {
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.2s ease-in;
}
/* line 14, ../sass/assets/components/_nav.scss */
#menuWrap.noFix {
  position: relative;
  transition: top 0.2s ease-in;
}
@media screen and (max-width: 768px) {
  /* line 14, ../sass/assets/components/_nav.scss */
  #menuWrap.noFix {
    top: 5px;
    width: 20px;
  }
}
@media only screen and (min-width: 769px) {
  /* line 14, ../sass/assets/components/_nav.scss */
  #menuWrap.noFix {
    top: 0;
  }
}

/**
*handheld devices  
* the idea did not work and was abonded 
*/
/** 
*main nav 
*/
@media screen and (max-width: 768px) {
  /* line 43, ../sass/assets/components/_nav.scss */
  #menuWraperH {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 43, ../sass/assets/components/_nav.scss */
  #menuWraperH {
    display: block;
    width: 90%;
    background: #E68A00 !important url("longLogoL.png") 150% 150% repeat-x;
    background-repeat: repeat-x;
  }
}

@media screen and (max-width: 768px) {
  /* line 57, ../sass/assets/components/_nav.scss */
  #menuWraperV {
    display: block;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 769px) {
  /* line 57, ../sass/assets/components/_nav.scss */
  #menuWraperV {
    display: none;
  }
}

/* line 68, ../sass/assets/components/_nav.scss */
.ui-menu {
  width: 150px;
}

/* line 72, ../sass/assets/components/_nav.scss */
.menuList {
  top: 78px;
  word-wrap: break-word;
  display: block;
  padding-left: 6px;
  text-align: center;
  border-top: 5px solid #d69533;
  border-bottom: 5px solid #a36200;
  border-right: solid #a36200;
  background-color: #E68A00 !important;
  border-radius: 6px;
  color: #00005C;
  box-shadow: 0px 8px 7px 0px white;
  text-decoration: none;
  zoom: 1;
}
@media screen and (max-width: 768px) {
  /* line 72, ../sass/assets/components/_nav.scss */
  .menuList {
    top: 10px;
    display: none;
    width: 616px;
    font-size: 14px;
    margin: 6px 0px 15px 8.3px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 72, ../sass/assets/components/_nav.scss */
  .menuList {
    width: 736.48px;
    font-size: 14px;
    margin: 6px 0px 15px 8.3px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 72, ../sass/assets/components/_nav.scss */
  .menuList {
    width: 830px;
    font-size: 14px;
    margin: 6px 0px 15px 8.3px;
  }
}
/* line 106, ../sass/assets/components/_nav.scss */
.menuList:before, .menuList:after {
  content: "";
  display: table;
}
/* line 110, ../sass/assets/components/_nav.scss */
.menuList:after {
  clear: both;
}
/* line 113, ../sass/assets/components/_nav.scss */
.menuList li {
  list-style: none;
  float: left;
  border-right: 1px solid #CC7A00;
  box-shadow: 1px 0 0 white;
  position: relative;
  opacity: 0.99;
  height: 18px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  background-color: #f38c0b;
}
@media screen and (max-width: 768px) {
  /* line 113, ../sass/assets/components/_nav.scss */
  .menuList li {
    width: 112px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 113, ../sass/assets/components/_nav.scss */
  .menuList li {
    width: 132.096px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 113, ../sass/assets/components/_nav.scss */
  .menuList li {
    width: 175px;
  }
}
/* line 134, ../sass/assets/components/_nav.scss */
.menuList li:last-child {
  box-shadow: none;
  border-right: none;
}
/* line 138, ../sass/assets/components/_nav.scss */
.menuList li:hover {
  background-color: #CC7A00;
}
/* line 140, ../sass/assets/components/_nav.scss */
.menuList li:hover > ul {
  opacity: 1.0;
  visibility: visible;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 140, ../sass/assets/components/_nav.scss */
  .menuList li:hover > ul {
    position: relative;
    left: 105px;
    top: -15px;
    background-color: green;
  }
}
/* line 153, ../sass/assets/components/_nav.scss */
.menuList li:hover > a {
  color: #0052cc;
  background-color: #CC7A00;
}
/* line 158, ../sass/assets/components/_nav.scss */
.menuList li ul {
  padding-left: 3px;
  padding-right: 3px;
}
@media screen and (max-width: 768px) {
  /* line 158, ../sass/assets/components/_nav.scss */
  .menuList li ul {
    visibility: hidden;
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 173, ../sass/assets/components/_nav.scss */
  .menuList > li:first-child > a {
    width: 66.048px;
  }
  /* line 178, ../sass/assets/components/_nav.scss */
  .menuList > li:first-child > div > a {
    width: 66.048px;
  }
  /* line 185, ../sass/assets/components/_nav.scss */
  .menuList > li:nth-child(2) a {
    width: 132.096px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 195, ../sass/assets/components/_nav.scss */
  .menuList > li:first-child > a {
    width: 34px;
  }
  /* line 201, ../sass/assets/components/_nav.scss */
  .menuList > li:first-child > div > a {
    width: 34px;
  }
  /* line 208, ../sass/assets/components/_nav.scss */
  .menuList > li:nth-child(2) a {
    width: 80.1111px;
    width: 140px;
    width: 175px;
  }
  /* line 213, ../sass/assets/components/_nav.scss */
  .menuList > li:nth-child(2) a a {
    width: 175px;
  }
}
/* line 220, ../sass/assets/components/_nav.scss */
.menuList ul {
  margin: 2px 0 0 0;
  opacity: 1.0;
  visibility: hidden;
  position: absolute;
  top: 19px;
  left: 0;
  z-index: 1;
  background: #CC7A00;
  box-shadow: 0 -1px 0 rgba(204, 122, 0, 0.2);
  border-radius: 3px;
  transition: all .2s ease-in-out;
}
/* line 232, ../sass/assets/components/_nav.scss */
.menuList ul ul {
  top: 0;
  left: 175px;
  margin: 0 0 0 15px;
  box-shadow: -1px 0 0 white;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 232, ../sass/assets/components/_nav.scss */
  .menuList ul ul {
    left: 132.096px;
    margin: 0 0 0 12px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 232, ../sass/assets/components/_nav.scss */
  .menuList ul ul {
    left: 175px;
    margin: 0 0 0 12px;
  }
}
/* line 250, ../sass/assets/components/_nav.scss */
.menuList ul ul li:first-child a:hover::after {
  border-right-color: #04bfec;
  border-bottom-color: transparent;
}
/* line 255, ../sass/assets/components/_nav.scss */
.menuList ul ul li:first-child a:after {
  left: -8px;
  top: 50%;
  margin-top: -8px;
  border-left: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid #a36200;
}
/* line 268, ../sass/assets/components/_nav.scss */
.menuList ul li {
  float: none;
  display: block;
  border: 0;
  box-shadow: 0 1px 0 #111, 0 2px 0 #666;
  padding: 5px 7px 3px 1px;
}
/* line 274, ../sass/assets/components/_nav.scss */
> .menuList ul li:after {
  left: 20px;
  content: '';
  position: absolute;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d69533;
}
/* line 284, ../sass/assets/components/_nav.scss */
.menuList ul li:first-child {
  border-radius: 2px 2px 1px 2px;
}
/* line 287, ../sass/assets/components/_nav.scss */
.menuList ul li:first-child a:hover:after {
  border-bottom-color: #04bfec;
}
/* line 291, ../sass/assets/components/_nav.scss */
.menuList ul li:first-child > a:after {
  left: 20px;
  content: '';
  position: absolute;
  top: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d69533;
}
/* line 302, ../sass/assets/components/_nav.scss */
.menuList ul li:last-child {
  box-shadow: none;
}
/* line 304, ../sass/assets/components/_nav.scss */
.menuList ul li:last-child > a {
  border-radius: 0 0 3px 3px;
}
@media screen and (max-width: 768px) {
  /* line 220, ../sass/assets/components/_nav.scss */
  .menuList ul {
    text-align: left;
  }
}
/* line 313, ../sass/assets/components/_nav.scss */
.menuList a {
  width: 175px;
  float: left;
  padding: 6px 8px 4px 2px;
  color: #0052cc;
  text-transform: uppercase;
  font: bold 0.9rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px 0px #0048b4;
  display: inline-block;
  white-space: nowrap;
  float: none;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 313, ../sass/assets/components/_nav.scss */
  .menuList a {
    width: 132.096px;
    padding: 5px 7px 3px 1px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 313, ../sass/assets/components/_nav.scss */
  .menuList a {
    width: 175px;
    padding: 5px 7px 3px 1px;
  }
}
/* line 333, ../sass/assets/components/_nav.scss */
.menuList a:hover {
  background-color: #d69533;
  background-image: linear-gradient(#d69533, #a36200);
}
@media screen and (max-width: 1024px) {
  /* line 72, ../sass/assets/components/_nav.scss */
  .menuList {
    width: 736.48px;
    margin-left: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  /* line 72, ../sass/assets/components/_nav.scss */
  .menuList {
    display: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 40px;
    width: 40%;
    box-shadow: none;
  }
  /* line 355, ../sass/assets/components/_nav.scss */
  .menuList:after {
    content: '';
    position: absolute;
    left: 5px;
    top: -8px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #444;
  }
  /* line 364, ../sass/assets/components/_nav.scss */
  .menuList ul {
    position: static;
    visibility: visible;
    opacity: 1;
    margin: 0;
    background: none;
    box-shadow: none;
  }
  /* line 371, ../sass/assets/components/_nav.scss */
  .menuList ul ul {
    margin: 0 0 0 20px !important;
    box-shadow: none;
  }
  /* line 375, ../sass/assets/components/_nav.scss */
  .menuList ul li {
    margin-left: 20px;
    box-shadow: none;
  }
  /* line 379, ../sass/assets/components/_nav.scss */
  .menuList ul a {
    padding: 0;
    width: auto;
  }
  /* line 382, ../sass/assets/components/_nav.scss */
  .menuList ul a:hover {
    background: none;
  }
  /* line 387, ../sass/assets/components/_nav.scss */
  .menuList li {
    position: static;
    display: block;
    float: none;
    border: 0;
    margin: 5px;
    box-shadow: none;
  }
  /* line 395, ../sass/assets/components/_nav.scss */
  .menuList a {
    display: block;
    float: none;
    padding: 0;
    color: #999;
  }
  /* line 400, ../sass/assets/components/_nav.scss */
  .menuList a::hover {
    color: #fafafa;
  }
}
/* line 406, ../sass/assets/components/_nav.scss */
.menuList .jayLink a {
  width: 80px;
}

@media screen and (max-width: 768px) {
  /* line 413, ../sass/assets/components/_nav.scss */
  #menuWrap {
    position: relative;
  }

  /* line 417, ../sass/assets/components/_nav.scss */
  #menuWrap * {
    box-sizing: border-box;
    text-align: left;
  }

  /* line 421, ../sass/assets/components/_nav.scss */
  #menuTrigger {
    display: block;
    /* Show it now */
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding: 0 0 0 35px;
    border: 1px solid #CC7A00;
    color: #0052cc;
    font-weight: bold;
    background-color: #E68A00 !important;
    border-radius: 6px;
    box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
  }
  /* line 435, ../sass/assets/components/_nav.scss */
  #menuTrigger ul ul {
    display: none;
  }
}
/* line 1, ../sass/assets/components/_headings.scss */
h1, h2, h3, h4, h5, h6 {
  border-color: #CC7A00;
  color: #00005C;
  font-family: Verdana, Arial, Geneva, Lucida, "lucida grande", Helvetica, sans-serif;
  display: block;
  text-transform: capitalize;
  letter-spacing: 2px;
  background-color: #CC7A00;
  box-shadow: 10px 10px 5px #a36200;
  text-align: center;
  width: 75%;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: auto;
  width: 50%;
  max-width: -moz-fit-content;
  min-width: 80px;
  border: 3px solid #CC7A00;
}
@media screen and (max-width: 768px) {
  /* line 1, ../sass/assets/components/_headings.scss */
  h1, h2, h3, h4, h5, h6 {
    left: 10%;
    padding: 3px 4px 3px 5px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 1, ../sass/assets/components/_headings.scss */
  h1, h2, h3, h4, h5, h6 {
    left: 15%;
    padding: 4px 5px 3px 6px;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 1, ../sass/assets/components/_headings.scss */
  h1, h2, h3, h4, h5, h6 {
    left: 08%;
    padding: 4px 6px 4px 8px;
  }
}
/* line 43, ../sass/assets/components/_headings.scss */
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  text-indent: 0;
}

/* line 48, ../sass/assets/components/_headings.scss */
h1, h2, h3 {
  border-radius: 15px;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-shadow: 1px 1px 8px #FFFFD6;
  line-height: 120%;
}
@media screen and (max-width: 768px) {
  /* line 48, ../sass/assets/components/_headings.scss */
  h1, h2, h3 {
    font-size: 090%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 48, ../sass/assets/components/_headings.scss */
  h1, h2, h3 {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1025px) {
  /* line 48, ../sass/assets/components/_headings.scss */
  h1, h2, h3 {
    font-size: 140%;
  }
}

/* line 66, ../sass/assets/components/_headings.scss */
h1 {
  text-transform: uppercase;
  padding: 0.5rem;
  border-top: 3px solid;
  background-color: rgba(243, 140, 11, 0.5);
  border-bottom: 3px solid;
  display: block;
  background-size: 20%;
  white-space: normal;
}
@media screen and (max-width: 768px) {
  /* line 66, ../sass/assets/components/_headings.scss */
  h1 {
    margin-right: 10px auto;
  }
}

/* line 82, ../sass/assets/components/_headings.scss */
h1, h2 {
  text-align: center;
  width: 70%;
  max-width: -moz-fit-content;
  min-width: 80px;
}

/* line 89, ../sass/assets/components/_headings.scss */
h1, h2, h3, h4 {
  max-width: auto;
  width: auto;
  padding-left: 10px;
  margin-left: 45px;
}

/* line 96, ../sass/assets/components/_headings.scss */
h5 {
  font-size: 12px;
  padding: 3px 3px 3px 3px;
  box-shadow: none;
  background-color: rgba(243, 140, 11, 0.2);
}

/* line 103, ../sass/assets/components/_headings.scss */
.issue {
  box-shadow: 0px 1px 1px;
  text-align: left;
  min-width: auto;
  width: auto;
}

/* line 1, ../sass/assets/components/_nomen.scss */
.nomen {
  display: table-row;
  width: 109px;
  height: 23px;
  padding: 0px;
  border: 1px solid blue;
  background-color: ghostwhite;
}

/* line 10, ../sass/assets/components/_nomen.scss */
.NMNrow {
  display: block;
}

/* line 2, ../sass/assets/components/_figure.scss */
img {
  height: auto;
  /* height detrmined by the wide not to strage the image */
  margin: auto;
  /* centering the image within the box */
  width: 80%;
  /* Part of the box later as calculated */
  margin-left: 10%;
  /* centering horizontal ING if the margin not working */
  padding: 1px;
  /* make space around it */
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 4px solid red; */
}

/* line 14, ../sass/assets/components/_figure.scss */
.caption {
  display: block;
  text-align: center;
  padding: 1px;
}

/* put spaces between two elements */
/* line 21, ../sass/assets/components/_figure.scss */
div.space {
  padding: 7px;
}

/* line 26, ../sass/assets/components/_figure.scss */
.bigFigure {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 1px;
  /* border: 3px solid silver; */
  /* padding: 3px; */
}
/* line 31, ../sass/assets/components/_figure.scss */
.bigFigure .mainCaption {
  /*make caption */
  text-align: center;
  padding-bottom: 20px;
  font-size: larger;
}
/* line 36, ../sass/assets/components/_figure.scss */
.bigFigure ul.subFigures {
  display: inline-flex;
  list-style: none;
}
/* line 39, ../sass/assets/components/_figure.scss */
.bigFigure ul.subFigures figure {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 1px;
  /* border: 3px solid brown; */
}

/* line 1, ../sass/assets/components/_table.scss */
table.data {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}
/* line 5, ../sass/assets/components/_table.scss */
table.data caption {
  caption-side: bottom;
  padding-top: 12px;
  padding-bottom: 1px;
}

/* Zebra striping */
/* line 13, ../sass/assets/components/_table.scss */
tr:nth-of-type(odd) {
  background: #FFFEDF !important;
  font-weight: lighter;
}

/* line 18, ../sass/assets/components/_table.scss */
th {
  background: #CC7A00 !important;
  color: white;
  font-weight: bold;
}

/* line 24, ../sass/assets/components/_table.scss */
td, th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 40, ../sass/assets/components/_table.scss */
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  /* line 45, ../sass/assets/components/_table.scss */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /* line 50, ../sass/assets/components/_table.scss */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 56, ../sass/assets/components/_table.scss */
  tr {
    border: 1px solid #ccc;
  }

  /* line 58, ../sass/assets/components/_table.scss */
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  /* line 66, ../sass/assets/components/_table.scss */
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);
    color: #000;
    font-weight: bold;
  }
}
/* line 1, ../sass/assets/components/_equation.scss */
.empheq {
  background-color: #FFFFD6;
  border: 2px solid #CC7A00 !important;
  border-radius: 10px 15px 3px 7px;
}
/* line 5, ../sass/assets/components/_equation.scss */
.empheq h3.eqHead {
  font-size: smaller;
  margin-left: 30%;
  font-weight: normal;
  text-transform: lowercase;
  border: 0px;
  border-radius: 1px;
  background: white;
}

/* line 1, ../sass/assets/components/_index.scss */
.invisibleAnchor {
  padding: 10px;
  opacity: 0.0;
  /* visibility: hidden; */
}

/* line 1, ../sass/assets/components/_example.scss */
.solutionT {
  border: 10px solid brown;
}

/* line 5, ../sass/assets/components/_example.scss */
.TEx {
  border: 20px solid green;
  padding: 30px;
  box-shadow: 50px 10px #888888;
}
/* line 9, ../sass/assets/components/_example.scss */
.TEx h4 {
  padding: 2px;
  box-shadow: 0px 1px 1px;
  text-align: left;
  min-width: auto;
  width: auto;
  padding-left: 4px;
  padding-bottom: 7px;
}
