body {
	padding-top: 0px;
	background: antiquewhite;
}
.navbar {
	margin:  1px 0;
}

/*  to be changed */
.bgPotto{
	background-color:green ! important ;
}

.pottoNav{
	background-color: orange ; /* ! important; */
	margin-bottom: 30px;
	/* transform-origin: left top 0; */
  /* position: -webkit-sticky; /* Safari */ */
  /* position: sticky; */
	/* position: fixed; */
  /* top: 0; */
	/* right: 0; */
	/* left: 0; */
	/* z-index: 1030; */
}

.figContainer {
	width: 50%;
  height: auto;
	/* border: 1px solid #ccc; */
	margin: auto;
	margin-top: 0px;
	margin-bottom: 20px;
}

.figContainer:hover {
	/* border: 2px solid #777;  */
}

.imgContainer{
	padding: 40px;
	border: 1px solid #ccc;
}

.imgContainer:hover{
	border: 2px solid #777; 
}
body {
	padding-top: 0px;
	background-color: green !important;;
}
.navbar {
	margin:  1px 0;
}
