.empheq{
	background-color: $pottoColorMain;
	border: 2px solid $pottoColorMenuSecond;
	border-radius: 10px 15px 3px 7px;
	text-align: center;
	// width: -moz-fit-content;
	overflow-x: auto;
	// h3.eqHead{
	// 	font-size: smaller;
	//  	margin-left: 30%;
	// 	font-weight: normal;
	// 	// text-transform: lowercase;
	// 	text-transform: inherit;
	// 	padding:3px 3px 3px 6px;
	// 	border: 0px;
	// 	border-radius: 1px;
	// 	background: $pottoColorMenuShadow;
	// }
	.eqHead{
		font-size: smaller;
		text-transform: inherit;
		border-radius: .1px;
		margin: auto;
		display:inline-block;
		font-weight: 400;
		padding:1px 1px 2px 3px;
		border: black 0.1px;
		// width: 100px;
		// height: 100px;
		background: lighten($pottoColorMenu, 40%) ! important;
		border-radius: 3px;
		box-shadow: 5px 8px 8px $pottoColorMenuShadow;
	}
}

.uselBoxEq{
	background-color: $pottoColorMain;
	border: 2px solid $pottoColorMenuSecond;
	border-radius: 10px 15px 3px 7px;
	text-align: center;
	// width: -moz-fit-content;
	overflow-x: auto;
	// h3.eqHead{
	// 	font-size: smaller;
	//  	margin-left: 30%;
	// 	font-weight: normal;
	// 	// text-transform: lowercase;
	// 	text-transform: inherit;
	// 	padding:3px 3px 3px 6px;
	// 	border: 0px;
	// 	border-radius: 1px;
	// 	background: $pottoColorMenuShadow;
	// }
	.eqHead{
		font-size: smaller;
		text-transform: inherit;
		border-radius: .1px;
		margin: auto;
		display:inline-block;
		font-weight: 400;
		padding:3px 3px 3px 6px;
		border: black 0.1px;
		// width: 100px;
		// height: 100px;
		background: lighten($pottoColorMenu, 40%) ! important;
		border-radius: 3px;
		box-shadow: 5px 8px 8px $pottoColorMenuShadow;
	}
}

.longEq{
	overflow-x: auto;
}
