h1,h2,h3,h4,h5,h6{
	$pottoShadowColor: shade($pottoColor, 40%);
	color: $pottoColorText;
	background-color: $pottoColor ;
	// background-color: $pottoShadowColor;
	// border-color: $pottoColor;
	// $pottoBackgroundColor: shade($pottoColor, 100%);
	// background-color: $pottoBackgroundColor;
	font-family: $bodyFontFamily;
	// display: inline-block;
	display: block;
	letter-spacing: 2px;
	// box-shadow: 10px 10px 5px shade($pottoColorBorder, 20%);
	text-align: center;
	width: 75%;
	// margin-right: 80%;
	// white-space:nowrap;
	margin-left: 20px; 
	margin-right: auto;
	max-width: -moz-fit-content;
	min-width: 80px;
	@include respondTo(handheld) {
		// margin-left: 20px;
		left :10%;
		padding:3px 4px 3px 5px;
		width: -moz-fit-content;
	}
	@include respondTo(mediumScreen) {
		// margin-left: 30px;
		left :15%;
		padding:4px 5px 3px 6px;
	}
	@include respondTo(wideScreen) {
		// margin-left: 30px;
		left :08%;
		padding:4px 6px 4px 8px;
	}
	border:3px solid $pottoColorBorder;
	&:after {
	// content: "\A"; 
	// white-space: pre;
	// float: right;
	// padding-left: 6ex;
	// visibility: hidden;
	}
	& + p {
		text-indent: 0 ;
	}
}

// #{headings(1,3)}{
h1{
	color: $pottoColorText;
	$pottoTextShadow: $pottoColorTextShadow;
	// text-transform: uppercase;
	text-transform: capitalize;
	border-color: brown;
	padding: 0.5rem;
	display: block;
	white-space: normal ;
	// background-origin: border-box ;
	text-transform: capitalize;
	border-radius: 09px;
	font-weight: 600;
	margin-bottom: 0.5em;
	text-shadow: 1px 1px 8px $pottoTextShadow;
	border-width: 3px;
	box-shadow: 0.35rem 0.35rem 0.5rem 0.1rem $pottoColorBorder; 
	// text-align: center;
	@include respondTo(handheld) {
		font-size: 0.9rem;
		margin-right: 10px auto;
		// margin-left: $headerTopLeftMargin + 8;
	}
	@include respondTo(mediumScreen) {
		font-size: 1.2rem;
	}
	@include respondTo(wideScreen) {
		// font-size: 140%;
		font-size: 1.5rem;
	}
	// $pottoShadowColor: green ;//scale-lightness($pottoColorBorder, 70%);
	// $pottoTextShadow: saturate($pottoColor, 30%);
	// line-height: 120%;
	// border-bottom: 2px solid adjust-lightness($pottoColor, -60%) ;
	// border-top: 1px solid opacify($pottoColor, .5);
}


// #{headings(2)}{
h2{
	text-align: center;
  width: 70%;
	max-width: -moz-fit-content;
	min-width: 80px;
	font-size: 1.2rem;
}

h3{
	text-align: center;
  width: 70%;
	max-width: -moz-fit-content;
	min-width: 80px;
	font-size: 1.1rem;
}
// #{headings(4)}{
h4{
	max-width: auto;
	width: auto;
	padding-left: 10px;
	margin-left: 45px;
}

// #{headings(5,5)}{
h5{
	font-size: 12px;
	padding:3px 3px 3px 3px;
	box-shadow: none;
	background-color:  transparentize($pottoColor, 0.8);
}

.issue{
	font-size: 0.7rem;
	box-shadow: 0px 1px 1px ;
	text-align: left;
	min-width: auto;
	width: auto;
	padding: 2px 3px 2px 4px;
	border: 0.0rem;
}
