
$extraSpaceTableLeft: 9em;

.dataTable{
	// overflow-x: scroll;
	overflow-x: auto;
	// width: 750px;
	margin: 0;
	margin-left: 9rem;
}
table.data {
	// width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	padding-left: $extraSpaceTableLeft;
	caption {
		caption-side: bottom;
		padding-top: 12px;
		padding-bottom: 1px;
	}
}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: $pottoColorLow;
	font-weight: lighter;
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
	white-space: nowrap;
}

th { 
	background: $pottoColorMenuSecond;
	color: white; 
	font-weight: bold; 
}

.lhead {
	position: absolute;
	width: $extraSpaceTableLeft;
	margin-left: -$extraSpaceTableLeft;
	background: #aaa;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
// @media only screen and (max-width: 760px),
// (min-device-width: 768px) and (max-device-width: 1024px)  {
//
// 	table { 
// 	  	width: 100%; 
// 	}
//
// 	/* Force table to not be like tables anymore */
// 	table, thead, tbody, th, td, tr { 
// 		display: block; 
// 	}
// 	
// 	/* Hide table headers (but not display: none;, for accessibility) */
// 	thead tr { 
// 		position: absolute;
// 		top: -9999px;
// 		left: -9999px;
// 	}
// 	
// 	tr { border: 1px solid #ccc; }
// 	
// 	td { 
// 		/* Behave  like a "row" */
// 		border: none;
// 		border-bottom: 1px solid #eee; 
// 		position: relative;
// 		padding-left: 50%; 
// 	}
//
// 	td:before { 
// 		/* Now like a table header */
// 		position: absolute;
// 		/* Top/left values mimic padding */
// 		top: 6px;
// 		left: 6px;
// 		width: 45%; 
// 		padding-right: 10px; 
// 		white-space: nowrap;
// 		/* Label the data */
// 		content: attr(data-column);
//
// 		color: #000;
// 		font-weight: bold;
// 	}
// }
// @media only screen and (max-width: 460px) {
// }

