body {
	text-align: justify;
	background-color: white;
	padding: 1rem;
	margin: 1rem;
}

@import "function/mixing";
@import "components/equation";
@import "components/nomen";
@import "components/headings";
@import "components/figure";
@import "components/table";
