$pottoColorMain: #FFFFD6; // potto yellow backround
$pottoColorSecondary: #FFFFFA; //light yellow
$pottoColorLow: #FFFEDF !important; //!default yellow > #FFFFFA > #FFFFD6 
$pottoColor: #f38c0b ; // orange
$pottoColorBorder: #CC7A00 ; //!important; orange > $pottoColor
$pottoColorMenuMain: #E68A00 !important; //another orange
// $pottoColorText: #00005C ; //  !important; // potto blue
$pottoColorText: #3C3C97  ; //  !important; // potto blue
$pottoColorTextShadow: #2413e9; //  !important; // potto blue
$pottoColorMenu: $pottoColorBorder ;
$pottoColorMenuSecond: $pottoColorBorder !important; // darker orange
$pottoColorMenuShadow: lighten( $pottoColor, 40% );//  !important;
$pottoHightlightBackroundColor: darken($pottoColorMain, 20%);// !important;
$bodyTextColor: $pottoColorText  !important;

// $body-bg: $pottoColorMain !important;
$body-bg: $pottoColorSecondary !important;
$body-color: $bodyTextColor;
$spacer: 3rem !default;

$bodyFontFamily: Verdana, Arial,Geneva,Lucida, "lucida grande", Helvetica, sans-serif;

$breakM: 768px;
$breakL: 1024px;
$breakLl: 1200px;
$breakLll: 1824px;
