                                                                              
// Your variable overrides
$body-bg: #000;
$body-color: #333;

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4139
);

$theme-colors: (
  "custom-color": #900
);

.generalNotice {                                                                 
  & > p {                                                                        
    font-size: 10px;                                                             
  }                                                                              
}          

@function color($key: "blue") {
  @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function gray($key: "100") {
  @return map-get($grays, $key);
}

// @function theme-color-level($color-name: "primary", $level: 0) {
//   $color: theme-color($color-name);
//   $color-base: if($level > 0, #000, #fff);
//   $level: abs($level);
//
//   @return mix($color-base, $color, $level * $theme-color-interval);
// }

.custom-element {
  color: theme-color-level(primary, -10);
}

// .custom-element {
//   color: gray("100");
//   background-color: theme-color("dark");
// }
