//   $breakSss: 360px;
//   $breakSs: 480px;
//   $breakS: 640px;
//   $breakM: 768px;
//   $breakL: 1024px;
//   $breakLl: 1200px;
//   $breakLll: 1824px;
//


@mixin respondTo($media) {
	@if $media == handheld {
		@media screen and (max-width :$breakM) {@content; } 
		//@media only screen and (max-width: $breakM ) { @content; }
	}
	@else if $media == notHandheld {
		@media only screen and (min-width: $breakM + 1 ) { @content; }
	}
	@else if $media == handheldS {
		@media screen and (max-width :$breakSss) { @content; } 
	}
	@else if $media == handheldM {
		@media screen and (min-width :$breakSss + 1) and (max-width :$breakSs) { @content; } 
	}
	@else if $media == handheldL {
		@media screen and (min-width :$breakSs + 1) and (max-width :$breakS) { @content; } 
	}
	@else if $media == mediumScreen {
		@media only screen and (min-width: ($breakM + 1)) and (max-width: $breakL) { @content; }
	}
	@else if $media == wideScreen {
		@media only screen and (min-width: $breakL + 1 ) { @content; }
	}
}

//.profile-pic {
//  float: left;
//  width: 250px;
//  @include respond-to(handhelds) { width: 100% ;}
//  @include respond-to(medium-screens) { width: 125px; }
//  @include respond-to(wide-screens) { float: none; }
//}

@mixin border($top: none, $right: none, $bottom: none, $left: none) {
    border-top: $top;
    @if $right == none {
        border-right: $top;
    } @else {
        border-right: $right;
    }
    @if $bottom == none {
        border-bottom: $top;
    } @else {
        border-bottom: $bottom;
    }
    @if $left == none {
        border-left: $top;
    } @else {
        border-left: $left;
    }
}

@function strip-unit($value) {
	@if type-of($value) != "number" {
		@warn "You tried to remove unit from NaN (#{type-of($value)})";
		@return $value;
	}
	@return $value / ($value*0 + 1);
}

//basically the last @return follow this logic: if you have a unit of 3px that you want to strip,
// you need to divide 3px by 1px. So, $value = 3px, the statment becames: 3px /
// ( 3px * 0 +1) = 3px / (0px +1) = 3px/1px = 3 !
// It work with all unit ;-)
//
//Using this mixing to put the prefix into the code. with the usage of 
// .box { @include border-radius(10px); }
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

	/*
	 * Select the smaller of two dimeasion 
	 * Example @include smallerOfTwo ("margin-left", $menuMarginLeftM, 10px);
	 */
@mixin smallerOfTwo($dimension, $width1: 10px, $width2: 20px) {
  @if $width1 <  $width2 {
		#{$dimension}: $width1;
  } @else {
    #{$dimension}: $width2;
  }
}

@mixin selectOfTwo($dimension, $select:'smaller', $width1: 10px, $width2: 20px) {
	@if $select == 'smaller' {
		@if $width1 < $width2 {
			#{$dimension}: $width1;
		} @else {
			#{$dimension}: $width2;
		}
	} @else {
		@if $width1 > $width2 {
			#{$dimension}: $width1;
		} @else {
			#{$dimension}: $width2;
		}
	}
}


@mixin arrows($arrowdirection: left, $arrowsize: 5px, $arrowcolor: green) {
	/*
	 * Creates css arrows
	 * direction options: top, right, bottom, left. (to match border-'direction' of css)
	 * Example @include arrows(bottom, 12px, #f00);
	 */
	width: 0;
	height: 0;
	@if $arrowdirection == top {
		border-left: $arrowsize solid transparent;
		border-right: $arrowsize solid transparent;
		border-bottom: $arrowsize solid $arrowcolor;
	} @else if $arrowdirection == right {
		border-top: $arrowsize solid transparent;
		border-bottom: $arrowsize solid transparent;
		border-left: $arrowsize solid $arrowcolor;
	} @else if $arrowdirection == bottom {
		border-left: $arrowsize solid transparent;
		border-right: $arrowsize solid transparent;
		border-top: $arrowsize solid $arrowcolor;
	} @else {
		border-top: $arrowsize solid transparent;
		border-bottom: $arrowsize solid transparent;
		border-right: $arrowsize solid $arrowcolor;
	}
}


